<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/weat.png">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to see Weather</p>
        <form >
            <input placeholder="Location">
            <button>Search</button>
        </form>
    </div>
    {{>footer}}
    <script src="/java script/app.js"></script>
    

</body>


</html>