<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/weat.png">
    <script src="/java script/app.js"></script>
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to see Weather</p>
    </div>
    {{>footer}}


</body>


</html>